{% extends 'base.html' %}

{% block content %}
<section class="formcontainer">
  <div class="form login">
    <div class="form-content">
      <header class="text-center">Login</header>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="field input-field">
          <input name="username" type="text" placeholder="Username" class="input" required>
        </div>
        <div class="field input-field">
          <input name="password" type="password" placeholder="Password" class="password" required>
          <i class='bx bx-hide icon'></i>
        </div>
        <div class="link">
          <a href="#" class="forgot-pass">Forgot password?</a>
        </div>
        <div class="field btn">
          <button class="text-center" type="submit">Login</button>
        </div>
        <div class="link">
          <span>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></span>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
