{% extends 'base.html' %}

{% block content %}
<section class="formcontainer">
  <div class="form signup">
    <div class="form-content">
      <header class="text-center">Sign Up</header>
      <form method="POST" action="">
        {% csrf_token %}
        <div class="field input-field">
          <input name="first_name" type="text" placeholder="First Name" class="input" required>
        </div>
        <div class="field input-field">
          <input name="last_name" type="text" placeholder="Last Name" class="input" required>
        </div>
        <div class="field input-field">
          <input name="email" type="email" placeholder="Email" class="input" required>
        </div>
        <div class="field input-field">
          <input name="username" type="text" placeholder="Username" class="input" required>
        </div>
        <div class="field input-field">
          <input name="password" type="password" placeholder="Password" class="password" required>
          <i class='bx bx-hide icon'></i>
        </div>
        <div class="field btn">
          <button class="text-center" type="submit">Sign Up</button>
        </div>
        <div class="link">
          <span>Already have an account? <a href="{% url 'login' %}">Login</a></span>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
