@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.formcontainer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebe9e9;
    column-gap: 30px;
}

.form {
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background-color: #fff;
}

form {
    margin-top: 30px;
}

.field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.field input, .field button {
    border-radius: 6px;
    height: 100%;
    width: 100%;
    border: none;
}

.field input {
    font-size: 16px;
    font-weight: 400;
    padding: 0 15px;
    border: 1px solid #cacaca;
    outline: none;
}

.field input:focus {
    border-bottom-width: 2px;
}

.field button {
    /* background-color: #0171d3; */
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.link {
    text-align: center;
    margin-top: 10px;
}

.link span, .link a {
    font-weight: 350;
    font-size: 16px;
}

.form a {
    color: #8b8b8b;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}
