{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section category">
    <div class="container">
        <ul class="category-list">
            {% for category in categories %}
            <li class="category-item">
                <figure class="category-banner">
                    <img src="{% static 'assets/images/category-1.jpg' %}" alt="{{ category.name }}" loading="lazy" width="510" height="600" class="w-100">
                </figure>
                <a href="{% url 'each_category' category.name %}" class="btn btn-secondary">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}
