{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section product">
    <div class="container">
        <h2 class="h2 section-title">{{ category.name }}</h2>

        <ul class="product-list">
            {% for product in products %}
            <li>
                <div class="product-card">
                    <figure class="card-banner">
                        <a href="{% url 'each_product' product.id %}">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" loading="lazy" width="800" height="1034" class="w-100">
                        </a>
                        <div class="card-badge red">-25%</div>
                        <div class="card-actions">
                            <button class="card-action-btn" aria-label="Quick view">
                                <ion-icon name="eye-outline"></ion-icon>
                            </button>
                            <button class="card-action-btn cart-btn">
                                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                                <p>Add to Cart</p>
                            </button>
                            <button class="card-action-btn" aria-label="Add to Wishlist">
                                <ion-icon name="heart-outline"></ion-icon>
                            </button>
                        </div>
                    </figure>
                    <div class="card-content">
                        <h3 class="h4 card-title">
                            <a href="{% url 'each_product' product.id %}">{{ product.name }}</a>
                        </h3>
                        <div class="card-price">
                            <data value="48">Rs.{{ product.price|floatformat:0 }}</data>
                            <data value="65.00">Rs.650</data>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

        <button class="btn btn-outline">View All Products</button>
    </div>
</section>
{% endblock content %}
